<!-- download_p.html -->

{% block content %}
{% endblock %}



  <link href="static/css/styles.css" rel="stylesheet" />
  <div class="container-sm" id="dynamic-section" style="background-image: url('/static/Rose Gold.png')">
    <!-- Content section 1 -->
    <section id="page-top">
        <div class="container-sm"><br><br>
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><img class="img-fluid rounded-circle" src="static/assets/img/01.jpg" alt="Puzzle Game" onClick="startGame()"/></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4"><a>Puzzle Game</a></h2>
                        <p>Sfida te stesso, batti il tuo Record!!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
    <div class="container-sm" id="content" style="background-image: url('/static/Rose Gold.png')">
      <br>
      <h3>Download Puzzle_Game</h3>
          <div>
          <ul>
            <li><a href="{{ url_for('static', filename='downloads/Puzzle_Game_Windows.zip') }}" download>Download Windows</a></li>
            <li><a href="{{ url_for('static', filename='static/downloads/Puzzle_Game_MacOS.app.zip') }}" download>Download MacOS</a></li>
            <br>
            </ul>
          <button class="btn btn-outline-secondary" id="backButton" onclick="goToIndex()"> Indietro</button><br><br>
          </div>
    </div>
    </section>
  </div>
  <!-- Button to go back -->

<script src="static/js/scripts.js"></script>
<script>
    function goToIndex() {
        window.location.href = '/'; // Reindirizza alla pagina index
    }

    function startGame() {
        $.ajax({
            type: 'POST',
            url: '/start_game',
            success: function(response) {
                console.log(response); // Log per verificare la risposta
            },
            error: function(error) {
                console.error('Errore durante l\'avvio del gioco:', error);
                alert("Errore nell'avvio del gioco");
            }
        });
    }
</script>

