
<!-- section_authenticated.html -->


<link href="static/css/styles.css" rel="stylesheet" />
<!-- Accesso ai contenuti riservati per l'utente loggato -->
<div class="masthead-content" id="dynamic-section">
    {% block content %}
    {% endblock %}
    <!-- Content section 1 -->
    <section id="page-top">
        <div class="container-sm" id="masthead"><br><br>
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5"><a href="#"><img class="img-fluid rounded-circle" src="static/assets/img/01.jpg" alt="Puzzle Game" id="load-p-btn"/></a></div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4">Puzzle Game</h2>
                        <p>Sfida te stesso, batti il tuo Record!!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Content section 2 -->
    <section>
        <div class="container-sm" id="masthead">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6">
                    <div class="p-5"><a href="#"><img class="img-fluid rounded-circle" src="static/assets/img/02.jpg" alt="Download Memory Game" id="load-m-btn"/></a></div> <!-- onclick="startMemory()" -->
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Memory game</h2>
                        <p>Metti a dura prova la tua memoria e trova le coppie di carte nel minor tempo possibile!!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    <script src="static/js/scripts.js"></script>
    <script>
    
    function loadPage(page_name) {
        $.ajax({
            type: 'GET',
            url: '/' + page_name + '.html',
            success: function(response) {
                $("#content").html(response);
                $(".masthead").hide(); // Nascondi l'header quando carichi il form
            },
            error: function(error) {
                console.error('Errore durante il caricamento della pagina:', error);
            }
        });
    }
    //function loadDownloadPage(page) {
    //    $.ajax({
    //        url: '/' + page,  // Assicurati che la rotta corrispondente esista nel tuo app.py
    //        type: 'GET',
    //        success: function(response) {
    //            $('#dynamic-section').html(response);  // Carica il contenuto della pagina nella sezione dinamica
    //        },
    //        error: function(error) {
    //            console.error('Errore durante il caricamento della pagina:', error);
    //            alert("Errore durante il caricamento della pagina");
    //        }
    //    });
    //}

    //$('#load-p-btn').click(function() {
    //    loadDownloadPage('down_p');
    //});

    //$('#load-m-btn').click(function() {
    //    loadDownloadPage('down_m');
    //});


    function downP() {
        $.ajax({
            type: 'GET',
            url: '/down_p',  // Assicurati che questa rotta esista nel tuo app.py
            success: function(response) {
                console.log(response);
               
            },
            error: function(error) {
                console.error('Errore durante l\'apertura della pagina:', error);
                alert("Errore durante l'avvio della pagina");
            }
        });
    }

    function downM() {
        $.ajax({
            type: 'GET',
            url: '/down_m',  // Assicurati che questa rotta esista nel tuo app.py
            success: function(response) {
                console.log(response);
               
            },
            error: function(error) {
                console.error('Errore durante l\'apertura della pagina:', error);
                alert("Errore durante l'avvio della pagina");
            }
        });
    }

    </script>
    